.box{
    justify-content: center;
    flex-wrap: nowrap;
    width:100%;
}
.group{
    margin:10vh 10vh;
    padding:5vh;
    background-color:white;
    box-shadow: 5px 5px 8px black;
   
}
body{
    background-image: url(back2.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.heading{
    letter-spacing:0.2em;
    color:#222;
    font-weight:bold;
    text-align:center;
}
.gallery{
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.thumbnail{
    padding:10px 20px;
}
.thumbnail:hover{
    zoom: 1.2
}